= form_for @meeting, html: { class: "row gy-2" } do |f|
  - if @meeting.errors.any?
    .alert.alert-danger
      %h2= "#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
      %ul
        - @meeting.errors.full_messages.each do |message|
          %li= message
  -if doctor_signed_in?
    %h3= @meeting.user.view
    %h4=@meeting.meeting_time
    = f.hidden_field :user_id, value: @meeting.user_id
    = f.hidden_field :doctor_id, value: @meeting.doctor_id 
    .field
    = f.label :doctor_recomendations
    = f.text_field :doctor_recomendations
  -if user_signed_in?
    %h3.mb-3= @doctor.view
    -# = f.hidden_field :user_id, value: current_user.id
    = f.hidden_field :doctor_id, value: @doctor.id
    .col-2
      = f.label :meeting_time,class: 'form-label'
    .col
      = f.datetime_select :meeting_time, class: 'dropdown-menu'
    .row
      .col.gy-2
        = f.submit 'Save',class: "btn btn-primary"
