%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  .container-fluid
    %a.pa-2.logo{:href=>"/"} Консультації з лікарями
    %button.navbar-toggler{type: "button", "data-bs-toggle"=>"collapse", "data-bs-target"=>"#navbarText","aria-expanded"=>"false", "aria-label"=>"Toggle navigation"}
      %span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarText
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0.d-flex
        -unless doctor_signed_in? || user_signed_in? || admin_signed_in?
          %li.nav-item= link_to "user login", new_user_session_path, class: "nav-link"
          %li.nav-item= link_to "doctor login", new_doctor_session_path, class: "nav-link"
          %li.nav-item= link_to "admin login", new_admin_session_path, class: "nav-link"
        -if user_signed_in?
          %li.nav-item= link_to "search doctors", search_index_path, class: "nav-link"
          %li.nav-item= link_to "user Logout", destroy_user_session_path,method: :delete , class: "nav-link"
        -if doctor_signed_in?
          %li.nav-item= link_to "doctor Logout", destroy_doctor_session_path,method: :delete , class: "nav-link"
        -if admin_signed_in?
          %li.nav-item= link_to "admin Logout", destroy_admin_session_path, method: :delete, class: "nav-link"
      %ul.navbar-nav.mb-2.mb-lg-0.d-flex.ml-auto
        -if user_signed_in?
          %li.nav-item= link_to "user Profile", edit_user_registration_path, class: "nav-link"
        -if doctor_signed_in?
          %li.nav-item= link_to "doctor Profile", edit_doctor_registration_path, class: "nav-link"
        -if admin_signed_in?
          %li.nav-item= link_to "admin Profile", edit_admin_registration_path, class: "nav-link"
          
